<ul class="nav nav-pills" data-bind="foreach: stages">
    <li data-bind="css: { active: $root.activeStage() === $data }">
        <a class="active" data-bind="attr: {href: '#stage_'+$data.id}, click: function() {$root.setStage($data)}, text: $data.title"></a>
    </li>
</ul>
<br/>
<div class="stage-content">
    <div class="stage-pane active">
        <fieldset>
            <legend data-bind="text: activeStage().title"></legend>
            <span  data-bind="template: { name: activeStage().template, data: activeStage}"></span>
        </fieldset>
    </div>
</div>

<script type="text/html" id="stage-rts-template">
    <table class="table table-hover table-condensed table-hover" id="models">
        <thead>
        <tr>
            <th>{{ _('Title') }}</th>
            <!-- <th>{{ _('Description') }}</th> -->
        </tr>
        </thead>
        <tbody data-bind="foreach: $root.tvthings">
            <tr>
                <td><a data-bind="text: name, attr: { href: public_url}"></a></td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/html" id="stage-other-template">
</script>

